In [ ]:
#Download the pandas package
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/base_command.py", line 179, in exc_logging_wrapper
    status = run_func(*args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/req_command.py", line 67, in wrapper
    return func(self, options, args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/commands/install.py", line 473, in run
    env = get_environment(lib_locations)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/metadata/__init__.py", line 86, in get_environment
    return select_backend().Environment.from_paths(paths)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/metadata/pkg_resources.py", line 263, in from_paths
    return cls(pkg_resources.WorkingSet(paths))
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 584, in __init__
    self.add_entry(entry)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 640, in add_entry
    for dist in find_distributions(entry, True):
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 2102, in find_on_path
    yield from factory(fullpath)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 2157, in distributions_from_metadata
    root = os.path.dirname(path)
  File "/usr/lib/python3.10/posixpath.py", line 153, in dirname
    sep = _get_sep(p)
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/bin/pip3", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/main.py", line 80, in main
    return command.main(cmd_args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/base_command.py", line 100, in main
    return self._main(args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/base_command.py", line 232, in _main
    return run(options, args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/base_command.py", line 215, in exc_logging_wrapper
    logger.critical("Operation cancelled by user")
  File "/usr/lib/python3.10/logging/__init__.py", line 1524, in critical
    self._log(CRITICAL, msg, args, **kwargs)
  File "/usr/lib/python3.10/logging/__init__.py", line 1624, in _log
    self.handle(record)
  File "/usr/lib/python3.10/logging/__init__.py", line 1634, in handle
    self.callHandlers(record)
  File "/usr/lib/python3.10/logging/__init__.py", line 1696, in callHandlers
    hdlr.handle(record)
  File "/usr/lib/python3.10/logging/__init__.py", line 968, in handle
    self.emit(record)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/utils/logging.py", line 177, in emit
    self.console.print(renderable, overflow="ignore", crop=False, style=style)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/rich/console.py", line 1703, in print
    extend(
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/rich/segment.py", line 198, in <genexpr>
    cls(text, None if control else apply(_style), control)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/rich/style.py", line 758, in __add__
    combined_style = self._add(style)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/rich/style.py", line 432, in __hash__
    def __hash__(self) -> int:
KeyboardInterrupt
^C

In [ ]:
#imports the pandas library and gives it the alias pd for easier access.
import pandas as pd

In [ ]:
list1=[
    {"name": "John","age": 30,"city": "New York","major": "Computer Science"},
    {"name": "Emily","age": 25,"city": "Los Angeles","major": "Business"},
    {"name": "Michael","age": 35,"city": "Chicago","major": "Physics"}
    ]

# Create Dataframe

In [ ]:
pd.DataFrame(list1)

      name  age         city             major
0     John   30     New York  Computer Science
1    Emily   25  Los Angeles          Business
2  Michael   35      Chicago           Physics

In [ ]:
list2=[
    ["john",30,"new york","computer science"],
    ["emily",25,"los angeles","business"],
    ["michael",35,"chicago","physics"]
]

In [ ]:
df=pd.DataFrame(list2)

In [ ]:
df

         0   1            2                 3
0     john  30     new york  computer science
1    emily  25  los angeles          business
2  michael  35      chicago           physics

In [ ]:
df.columns=["name","age","city","major"] # adding column names
df

      name  age         city             major
0     john   30     new york  computer science
1    emily   25  los angeles          business
2  michael   35      chicago           physics

In [ ]:
df.index=["a","b","c"]    #change the index labels
df

      name  age         city             major
a     john   30     new york  computer science
b    emily   25  los angeles          business
c  michael   35      chicago           physics

In [ ]:
#loc: access a group of rows and columns by label
df.loc["c"]   # show the row with index label

name     michael
age           35
city     chicago
major    physics
Name: c, dtype: object

In [ ]:
df.loc["a","name"]   # Access the value using loc

'john'

In [ ]:
#select rows and columns by their numerical positions rather than by their labels
df.iloc[2]     #show the row with index

name     michael
age           35
city     chicago
major    physics
Name: c, dtype: object

In [ ]:
df.iloc[0,0]   # Access the value using iloc

'john'

# Data

In [ ]:
#importing the csv file
data=pd.read_csv("/content/company.csv")

In [ ]:
data

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot
0,8675,Bachelors,2017,Amman,34,Male,500.0,0.0,yes
1,1531,Bachelors,2013,Irbid,28,Female,560.0,3.0,no
2,3028,PHD,2014,Irbid,38,Female,1000.0,2.0,no
3,2203,Masters,2016,Irbid,27,Female,800.0,5.0,NaN
4,4848,Masters,2017,Amman,24,Male,800.0,2.0,yes
5,6877,Bachelors,2016,Amman,22,Male,550.0,0.0,yes
6,2012,Bachelors,2015,Irbid,38,Male,550.0,0.0,no
7,8886,Bachelors,2016,Aqaba,34,Female,550.0,2.0,no
8,8741,Bachelors,2016,Amman,23,Male,550.0,1.0,no
9,6789,Masters,2017,Amman,37,Male,900.0,2.0,no
10,9872,Masters,2012,Amman,27,Male,800.0,5.0,no
11,2017,Bachelors,2016,Amman,34,Male,700.0,3.0,no
12,3018,PHD,2018,Irbid,32,Male,1500.0,5.0,no
13,1056,Bachelors,2016,Aqaba,39,Male,560.0,2.0,no
14,6845,Bachelors,2012,Irbid,37,Male,NaN,NaN,yes
15,4245,Bachelors,2017,Irbid,29,Female,500.0,3.0,no
16,6688,Bachelors,2014,Amman,34,Female,550.0,2.0,no
17,9764,Bachelors,2014,Amman,34,Male,600.0,4.0,no
18,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no
19,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no

In [ ]:
#shape function: gives the number of rows and columns
data.shape

(21, 9)

In [ ]:
#(info Function): gives information about the dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           21 non-null     int64
 1   Education    21 non-null     object
 2   JoiningYear  21 non-null     int64
 3   City         21 non-null     object
 4   Age          21 non-null     int64
 5   Gender       21 non-null     object
 6   salary       20 non-null     float64
 7   Experience   20 non-null     float64
 8   LeaveOrNot   20 non-null     object
dtypes: float64(2), int64(3), object(4)
memory usage: 1.6+ KB

In [ ]:
#dtype function: shows the data type of the column
data.dtypes

id               int64
Education       object
JoiningYear      int64
City            object
Age              int64
Gender          object
salary         float64
Experience     float64
LeaveOrNot      object
dtype: object

In [ ]:
# head function: show the first 5 rows
data.head(5)

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot
0,8675,Bachelors,2017,Amman,34,Male,500.0,0.0,yes
1,1531,Bachelors,2013,Irbid,28,Female,560.0,3.0,no
2,3028,PHD,2014,Irbid,38,Female,1000.0,2.0,no
3,2203,Masters,2016,Irbid,27,Female,800.0,5.0,NaN
4,4848,Masters,2017,Amman,24,Male,800.0,2.0,yes

In [ ]:
# tail function: show the last 5 rows
data.tail(5)

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot
16,6688,Bachelors,2014,Amman,34,Female,550.0,2.0,no
17,9764,Bachelors,2014,Amman,34,Male,600.0,4.0,no
18,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no
19,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no
20,5002,Bachelors,2020,Amman,40,Male,500.0,5.0,no

In [ ]:
#loc function: access a range of rows
data.loc[15:18]

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot
15,4245,Bachelors,2017,Irbid,29,Female,500.0,3.0,no
16,6688,Bachelors,2014,Amman,34,Female,550.0,2.0,no
17,9764,Bachelors,2014,Amman,34,Male,600.0,4.0,no
18,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no

In [ ]:
#columns function: show the names of the columns
data.columns

Index(['id', 'Education', 'JoiningYear', 'City', 'Age', 'Gender', 'salary',
       'Experience', 'LeaveOrNot'],
      dtype='object')

In [ ]:
data['salary']      # Access the 'name' column

0      500.0
1      560.0
2     1000.0
3      800.0
4      800.0
5      550.0
6      550.0
7      550.0
8      550.0
9      900.0
10     800.0
11     700.0
12    1500.0
13     560.0
14       NaN
15     500.0
16     550.0
17     600.0
18     650.0
19     650.0
20     500.0
Name: salary, dtype: float64

In [ ]:
data[['salary','City']]      #accessing multiple columns

    salary   City
0    500.0  Amman
1    560.0  Irbid
2   1000.0  Irbid
3    800.0  Irbid
4    800.0  Amman
5    550.0  Amman
6    550.0  Irbid
7    550.0  Aqaba
8    550.0  Amman
9    900.0  Amman
10   800.0  Amman
11   700.0  Amman
12  1500.0  Irbid
13   560.0  Aqaba
14     NaN  Irbid
15   500.0  Irbid
16   550.0  Amman
17   600.0  Amman
18   650.0  Amman
19   650.0  Amman
20   500.0  Amman

In [ ]:
data[data['City']=='Amman']  #show rows where city is amman

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot
0,8675,Bachelors,2017,Amman,34,Male,500.0,0.0,yes
4,4848,Masters,2017,Amman,24,Male,800.0,2.0,yes
5,6877,Bachelors,2016,Amman,22,Male,550.0,0.0,yes
8,8741,Bachelors,2016,Amman,23,Male,550.0,1.0,no
9,6789,Masters,2017,Amman,37,Male,900.0,2.0,no
10,9872,Masters,2012,Amman,27,Male,800.0,5.0,no
11,2017,Bachelors,2016,Amman,34,Male,700.0,3.0,no
16,6688,Bachelors,2014,Amman,34,Female,550.0,2.0,no
17,9764,Bachelors,2014,Amman,34,Male,600.0,4.0,no
18,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no
19,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no
20,5002,Bachelors,2020,Amman,40,Male,500.0,5.0,no

In [ ]:
data['salaryover10'] = data['salary']/10  #creates a new column existing column
data

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot,salaryover10
0,8675,Bachelors,2017,Amman,34,Male,500.0,0.0,yes,50.0
1,1531,Bachelors,2013,Irbid,28,Female,560.0,3.0,no,56.0
2,3028,PHD,2014,Irbid,38,Female,1000.0,2.0,no,100.0
3,2203,Masters,2016,Irbid,27,Female,800.0,5.0,NaN,80.0
4,4848,Masters,2017,Amman,24,Male,800.0,2.0,yes,80.0
5,6877,Bachelors,2016,Amman,22,Male,550.0,0.0,yes,55.0
6,2012,Bachelors,2015,Irbid,38,Male,550.0,0.0,no,55.0
7,8886,Bachelors,2016,Aqaba,34,Female,550.0,2.0,no,55.0
8,8741,Bachelors,2016,Amman,23,Male,550.0,1.0,no,55.0
9,6789,Masters,2017,Amman,37,Male,900.0,2.0,no,90.0
10,9872,Masters,2012,Amman,27,Male,800.0,5.0,no,80.0
11,2017,Bachelors,2016,Amman,34,Male,700.0,3.0,no,70.0
12,3018,PHD,2018,Irbid,32,Male,1500.0,5.0,no,150.0
13,1056,Bachelors,2016,Aqaba,39,Male,560.0,2.0,no,56.0
14,6845,Bachelors,2012,Irbid,37,Male,NaN,NaN,yes,NaN
15,4245,Bachelors,2017,Irbid,29,Female,500.0,3.0,no,50.0
16,6688,Bachelors,2014,Amman,34,Female,550.0,2.0,no,55.0
17,9764,Bachelors,2014,Amman,34,Male,600.0,4.0,no,60.0
18,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no,65.0
19,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no,65.0
20,5002,Bachelors,2020,Amman,40,Male,500.0,5.0,no,50.0

In [ ]:
data['new_column'] = 0    #creates a new column with value0
data

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot,salaryover10,new_column
0,8675,Bachelors,2017,Amman,34,Male,500.0,0.0,yes,50.0,0
1,1531,Bachelors,2013,Irbid,28,Female,560.0,3.0,no,56.0,0
2,3028,PHD,2014,Irbid,38,Female,1000.0,2.0,no,100.0,0
3,2203,Masters,2016,Irbid,27,Female,800.0,5.0,NaN,80.0,0
4,4848,Masters,2017,Amman,24,Male,800.0,2.0,yes,80.0,0
5,6877,Bachelors,2016,Amman,22,Male,550.0,0.0,yes,55.0,0
6,2012,Bachelors,2015,Irbid,38,Male,550.0,0.0,no,55.0,0
7,8886,Bachelors,2016,Aqaba,34,Female,550.0,2.0,no,55.0,0
8,8741,Bachelors,2016,Amman,23,Male,550.0,1.0,no,55.0,0
9,6789,Masters,2017,Amman,37,Male,900.0,2.0,no,90.0,0
10,9872,Masters,2012,Amman,27,Male,800.0,5.0,no,80.0,0
11,2017,Bachelors,2016,Amman,34,Male,700.0,3.0,no,70.0,0
12,3018,PHD,2018,Irbid,32,Male,1500.0,5.0,no,150.0,0
13,1056,Bachelors,2016,Aqaba,39,Male,560.0,2.0,no,56.0,0
14,6845,Bachelors,2012,Irbid,37,Male,NaN,NaN,yes,NaN,0
15,4245,Bachelors,2017,Irbid,29,Female,500.0,3.0,no,50.0,0
16,6688,Bachelors,2014,Amman,34,Female,550.0,2.0,no,55.0,0
17,9764,Bachelors,2014,Amman,34,Male,600.0,4.0,no,60.0,0
18,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no,65.0,0
19,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no,65.0,0
20,5002,Bachelors,2020,Amman,40,Male,500.0,5.0,no,50.0,0

In [ ]:
 #isnull function: shows the null values
data.isnull()

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,True,True,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False

In [ ]:
#isnull.sum(): shows the total number of null values
data.isnull().sum()

id             0
Education      0
JoiningYear    0
City           0
Age            0
Gender         0
salary         1
Experience     1
LeaveOrNot     1
dtype: int64

In [ ]:
#data.isnull().sum().sum(): shows the total number of null values
data.isnull().sum().sum()

3

#Continue the Pandas

In [ ]:
#import numpy
import numpy as np

In [ ]:
#create a new column with values by where
data['evaluation']=np.where(data['salary']>= 600,  'yes','no' )
data

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot,evaluation
0,8675,Bachelors,2017,Amman,34,Male,500.0,0.0,yes,no
1,1531,Bachelors,2013,Irbid,28,Female,560.0,3.0,no,no
2,3028,PHD,2014,Irbid,38,Female,1000.0,2.0,no,yes
3,2203,Masters,2016,Irbid,27,Female,800.0,5.0,NaN,yes
4,4848,Masters,2017,Amman,24,Male,800.0,2.0,yes,yes
5,6877,Bachelors,2016,Amman,22,Male,550.0,0.0,yes,no
6,2012,Bachelors,2015,Irbid,38,Male,550.0,0.0,no,no
7,8886,Bachelors,2016,Aqaba,34,Female,550.0,2.0,no,no
8,8741,Bachelors,2016,Amman,23,Male,550.0,1.0,no,no
9,6789,Masters,2017,Amman,37,Male,900.0,2.0,no,yes
10,9872,Masters,2012,Amman,27,Male,800.0,5.0,no,yes
11,2017,Bachelors,2016,Amman,34,Male,700.0,3.0,no,yes
12,3018,PHD,2018,Irbid,32,Male,1500.0,5.0,no,yes
13,1056,Bachelors,2016,Aqaba,39,Male,560.0,2.0,no,no
14,6845,Bachelors,2012,Irbid,37,Male,NaN,NaN,yes,no
15,4245,Bachelors,2017,Irbid,29,Female,500.0,3.0,no,no
16,6688,Bachelors,2014,Amman,34,Female,550.0,2.0,no,no
17,9764,Bachelors,2014,Amman,34,Male,600.0,4.0,no,yes
18,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no,yes
19,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no,yes
20,5002,Bachelors,2020,Amman,40,Male,500.0,5.0,no,no

In [ ]:
#DataFrame using the apply() method to create a new column named good in the DataFrame,
#apply() is used to apply the function to each row in the salary column.


def check_salary(salary):
    if salary >= 600:
        return 'yes'
    else:
        return 'no'
data['evaluation2'] = data['salary'].apply(check_salary)
data

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot,evaluation,good,evaluation2
0,8675,Bachelors,2017,Amman,34,Male,500.0,0.0,yes,no,None,no
1,1531,Bachelors,2013,Irbid,28,Female,560.0,3.0,no,no,None,no
2,3028,PHD,2014,Irbid,38,Female,1000.0,2.0,no,yes,None,yes
3,2203,Masters,2016,Irbid,27,Female,800.0,5.0,NaN,yes,None,yes
4,4848,Masters,2017,Amman,24,Male,800.0,2.0,yes,yes,None,yes
5,6877,Bachelors,2016,Amman,22,Male,550.0,0.0,yes,no,None,no
6,2012,Bachelors,2015,Irbid,38,Male,550.0,0.0,no,no,None,no
7,8886,Bachelors,2016,Aqaba,34,Female,550.0,2.0,no,no,None,no
8,8741,Bachelors,2016,Amman,23,Male,550.0,1.0,no,no,None,no
9,6789,Masters,2017,Amman,37,Male,900.0,2.0,no,yes,None,yes
10,9872,Masters,2012,Amman,27,Male,800.0,5.0,no,yes,None,yes
11,2017,Bachelors,2016,Amman,34,Male,700.0,3.0,no,yes,None,yes
12,3018,PHD,2018,Irbid,32,Male,1500.0,5.0,no,yes,None,yes
13,1056,Bachelors,2016,Aqaba,39,Male,560.0,2.0,no,no,None,no
14,6845,Bachelors,2012,Irbid,37,Male,NaN,NaN,yes,no,None,no
15,4245,Bachelors,2017,Irbid,29,Female,500.0,3.0,no,no,None,no
16,6688,Bachelors,2014,Amman,34,Female,550.0,2.0,no,no,None,no
17,9764,Bachelors,2014,Amman,34,Male,600.0,4.0,no,yes,None,yes
18,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no,yes,None,yes
19,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no,yes,None,yes
20,5002,Bachelors,2020,Amman,40,Male,500.0,5.0,no,no,None,no

In [ ]:
#map: Applying the function to create a new column
data['evaluation3'] = data['salary'].map(check_salary)
data

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot,evaluation,good,evaluation2,evaluation3
0,8675,Bachelors,2017,Amman,34,Male,500.0,0.0,yes,no,None,no,no
1,1531,Bachelors,2013,Irbid,28,Female,560.0,3.0,no,no,None,no,no
2,3028,PHD,2014,Irbid,38,Female,1000.0,2.0,no,yes,None,yes,yes
3,2203,Masters,2016,Irbid,27,Female,800.0,5.0,NaN,yes,None,yes,yes
4,4848,Masters,2017,Amman,24,Male,800.0,2.0,yes,yes,None,yes,yes
5,6877,Bachelors,2016,Amman,22,Male,550.0,0.0,yes,no,None,no,no
6,2012,Bachelors,2015,Irbid,38,Male,550.0,0.0,no,no,None,no,no
7,8886,Bachelors,2016,Aqaba,34,Female,550.0,2.0,no,no,None,no,no
8,8741,Bachelors,2016,Amman,23,Male,550.0,1.0,no,no,None,no,no
9,6789,Masters,2017,Amman,37,Male,900.0,2.0,no,yes,None,yes,yes
10,9872,Masters,2012,Amman,27,Male,800.0,5.0,no,yes,None,yes,yes
11,2017,Bachelors,2016,Amman,34,Male,700.0,3.0,no,yes,None,yes,yes
12,3018,PHD,2018,Irbid,32,Male,1500.0,5.0,no,yes,None,yes,yes
13,1056,Bachelors,2016,Aqaba,39,Male,560.0,2.0,no,no,None,no,no
14,6845,Bachelors,2012,Irbid,37,Male,NaN,NaN,yes,no,None,no,no
15,4245,Bachelors,2017,Irbid,29,Female,500.0,3.0,no,no,None,no,no
16,6688,Bachelors,2014,Amman,34,Female,550.0,2.0,no,no,None,no,no
17,9764,Bachelors,2014,Amman,34,Male,600.0,4.0,no,yes,None,yes,yes
18,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no,yes,None,yes,yes
19,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no,yes,None,yes,yes
20,5002,Bachelors,2020,Amman,40,Male,500.0,5.0,no,no,None,no,no

#Handling with missing values

In [ ]:
data.isnull()

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,True,True,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False

In [ ]:
data.isnull().sum()

id             0
Education      0
JoiningYear    0
City           0
Age            0
Gender         0
salary         1
Experience     1
LeaveOrNot     1
dtype: int64

In [ ]:
#describe: used to generate a statistical summary of the numeric columns in a DataFrame
data.describe()

                id  JoiningYear        Age       salary  Experience
count    21.000000    21.000000  21.000000    20.000000   20.000000
mean   5104.619048  2015.285714  31.952381   688.500000    2.300000
std    2965.145316     2.283481   5.398853   238.862986    1.809333
min    1056.000000  2010.000000  22.000000   500.000000    0.000000
25%    2203.000000  2014.000000  28.000000   550.000000    0.750000
50%    4848.000000  2016.000000  34.000000   580.000000    2.000000
75%    6877.000000  2017.000000  37.000000   800.000000    3.250000
max    9872.000000  2020.000000  40.000000  1500.000000    5.000000

In [ ]:
#dropping all rows with null values
data.dropna(axis=0, how="any", inplace=True)

In [ ]:
#dropping id column
data.drop(columns='id',,axis=1, inplace=True)

In [ ]:
#deleting row 1
data.drop(index=1, inplace=True)

In [ ]:
data

    Education  JoiningYear   City  Age  Gender  salary  Experience LeaveOrNot
0   Bachelors         2017  Amman   34    Male   500.0         0.0        yes
2         PHD         2014  Irbid   38  Female  1000.0         2.0         no
4     Masters         2017  Amman   24    Male   800.0         2.0        yes
5   Bachelors         2016  Amman   22    Male   550.0         0.0        yes
6   Bachelors         2015  Irbid   38    Male   550.0         0.0         no
7   Bachelors         2016  Aqaba   34  Female   550.0         2.0         no
8   Bachelors         2016  Amman   23    Male   550.0         1.0         no
9     Masters         2017  Amman   37    Male   900.0         2.0         no
10    Masters         2012  Amman   27    Male   800.0         5.0         no
11  Bachelors         2016  Amman   34    Male   700.0         3.0         no
12        PHD         2018  Irbid   32    Male  1500.0         5.0         no
13  Bachelors         2016  Aqaba   39    Male   560.0         2.0         no
15  Bachelors         2017  Irbid   29  Female   500.0         3.0         no
16  Bachelors         2014  Amman   34  Female   550.0         2.0         no
17  Bachelors         2014  Amman   34    Male   600.0         4.0         no
18  Bachelors         2015  Amman   30  Female   650.0         0.0         no
19  Bachelors         2010  Amman   30    Male   650.0         0.0         no
20  Bachelors         2020  Amman   40    Male   500.0         5.0         no

**fill :**


 -Fill with a Specific Value

 -Fill with the Mean, Median, or Mode

In [ ]:
data.isnull().sum()

id             0
Education      0
JoiningYear    0
City           0
Age            0
Gender         0
salary         0
Experience     0
LeaveOrNot     0
dtype: int64

In [ ]:
# Fill with 0
data['salary'].fillna(value=0, inplace=True)

In [ ]:
#fillna: used to replace all null values in a salary by a mean value.
data["salary"].fillna(data["salary"].mean(), inplace=True)

In [ ]:
#fillna: used to replace all null values in an experience by a median value.
data["Experience"].fillna(data["Experience"].median(),inplace=True)

In [ ]:
#fillna: used to replace all null values in a leaveornot by a mode value.
data["LeaveOrNot"].fillna(data["LeaveOrNot"].mode()[0], inplace=True)

In [ ]:
#duplicated: shows whether each row in the DataFrame is a duplicate or not.
data.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
dtype: bool

In [ ]:
#drop_duplicates:removes duplicate rows from the DataFrame, keeping the first occurrence of each duplicated row by default.
data.drop_duplicates()

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot
0,8675,Bachelors,2017,Amman,34,Male,500.0,0.0,yes
1,1531,Bachelors,2013,Irbid,28,Female,560.0,3.0,no
2,3028,PHD,2014,Irbid,38,Female,1000.0,2.0,no
3,2203,Masters,2016,Irbid,27,Female,800.0,5.0,NaN
4,4848,Masters,2017,Amman,24,Male,800.0,2.0,yes
5,6877,Bachelors,2016,Amman,22,Male,550.0,0.0,yes
6,2012,Bachelors,2015,Irbid,38,Male,550.0,0.0,no
7,8886,Bachelors,2016,Aqaba,34,Female,550.0,2.0,no
8,8741,Bachelors,2016,Amman,23,Male,550.0,1.0,no
9,6789,Masters,2017,Amman,37,Male,900.0,2.0,no
10,9872,Masters,2012,Amman,27,Male,800.0,5.0,no
11,2017,Bachelors,2016,Amman,34,Male,700.0,3.0,no
12,3018,PHD,2018,Irbid,32,Male,1500.0,5.0,no
13,1056,Bachelors,2016,Aqaba,39,Male,560.0,2.0,no
14,6845,Bachelors,2012,Irbid,37,Male,NaN,NaN,yes
15,4245,Bachelors,2017,Irbid,29,Female,500.0,3.0,no
16,6688,Bachelors,2014,Amman,34,Female,550.0,2.0,no
17,9764,Bachelors,2014,Amman,34,Male,600.0,4.0,no
18,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no
19,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no
20,5002,Bachelors,2020,Amman,40,Male,500.0,5.0,no