# Python Printing and Variable

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
x=10
print(x)

x=20
print(x)

10
20

In [ ]:
x=5
y=10
z=x+y
print(z)

15

In [ ]:
num1=10
num2=20
total=num1-num2
mytext="engineering"
mybool=True

#print the type of different variables.
print(type(num1))
print(type(total))
print(type(mytext))
print(type(mybool))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# Prints the length of the string
x="Hello World"
len(x)

11

In [ ]:
#Converts a string to uppercase and lowercase and prints both
x.upper()
print(x.upper())

x.lower()
print(x.lower())

HELLO WORLD
hello world

_________________________________________________________________

concatenation function

In [ ]:
# how to concatenate strings and add numbers
print("hello"+" "+"word")
print(20+8)

hello word
28

In [ ]:
## Error: Cannot concatenate string and integer directly
print("hello"+20)

TypeError: can only concatenate str (not "int") to str

In [ ]:
# Correct way by using str() to convert integer to string
print("hello"+str(20)) #or
print("hello"+"20")

hello20
hello20


 Boolean and comparison operators

In [ ]:
# use of relational operators and prints the results.
x=1>5
print(x)


x=1<5
print(x)


x= 1<=5
print(x)


x= 1!=5
print(x)


(1<5) and (5>3)

False
True
True
True

True

# Python Data Structures

List (array)

In [ ]:
name1="ali"
name2="ahmed"
name3="hassan"

print(name1)
print(name2)
print(name3)

ali
ahmed
hassan

In [ ]:
students=["ali","ahmad","hassan","omar","alaa","kareem"]

print(students)
print(students[0])   # Accesses the first element of the list
print(students [3])  #Acesses the fourth element of the list
print(students [-1]) #Acesses the last element of the list
print(students[0:5]) #Acesses the first 5 elements of the list
print(students[1:])  #Acesses the remaining elements of the list
print(students[:5])  #Acesses the first 5 elements of the list
print(students[:])   #Acesses all the elements of the list

['ali', 'ahmad', 'hassan', 'omar', 'alaa', 'kareem']
ali
omar
kareem
['ali', 'ahmad', 'hassan', 'omar', 'alaa']
['ahmad', 'hassan', 'omar', 'alaa', 'kareem']
['ali', 'ahmad', 'hassan', 'omar', 'alaa']
['ali', 'ahmad', 'hassan', 'omar', 'alaa', 'kareem']

In [ ]:
employee=["kareem", 25 , "medical engineering"]


print(type(employee))         # List type
print(type(employee[0]))      # String type
print(type(employee[1]))      # Integer type

print(employee.count(25))     # Returns the number of times 25 appears in the list

len(employee)                 # Returns the length of the list

<class 'list'>
<class 'str'>
<class 'int'>
1

3

In [ ]:
print(employee.reverse())        # Reverses the list
print(employee)


print(employee.append(500))     #add element at the end of the list
print(employee)


employee.remove("kareem")       #delete element from the list
print(employee)


employee.insert(0, "kareem")    #insert element at the specified index
print(employee)



employee[1]="30"                #change element at the specified index
print(employee)

None
['medical engineering', 25, 'kareem']
None
['medical engineering', 25, 'kareem', 500]
['medical engineering', 25, 500]
['kareem', 'medical engineering', 25, 500]
['kareem', '30', 25, 500]

In [ ]:
numers=[1,5,8,9,32,45]
numers.sort()                   #Sorts a list of numbers in ascending order.
print(numers)

[1, 5, 8, 9, 32, 45]

Tuple

In [ ]:
# # Error: Tuples do not support item assignment or modification
tuple1= (1,2,3,4,5,6)
tuple1.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
## # Error: Tuples do not support item assignment or modification
tuple1[1]=10

TypeError: 'tuple' object does not support item assignment

Set

In [ ]:
s={1,3,4,5,6,7,8}
s

{1, 3, 4, 5, 6, 7, 8}

In [ ]:
s.add(10)
s

{1, 3, 4, 5, 6, 7, 8, 10}

In [ ]:
s.add(1)  # Attempts to add 1, but it already exists in the set
print(s)  # Set remains unchanged because sets do not allow duplicates

{1, 3, 4, 5, 6, 7, 8, 10}

Dectionary

In [ ]:
d={"name":"ali","age":25}

d['age']

25

In [ ]:
d.keys()  # Prints the keys of the dictionary

dict_keys(['name', 'age'])

In [ ]:
d.values()  # Prints the values of the dictionary

dict_values(['ali', 25])

In [ ]:
del d['name']  # Deletes the 'name' entry from the dictionary
d

{'age': 25}

string

In [ ]:
FullName="ali yazan mohammed"

print(FullName)

FullName[10]

FullName[0:10:2]

ali yazan mohammed

'aiyzn'

In [ ]:

FullName.split()

['ali', 'yazan', 'mohammed']

In [ ]:
txt="computer engineering, medical engineering, electrical engineering"
txt.split(",")

['computer engineering', ' medical engineering', ' electrical engineering']